/*
define background
*/
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(grey, black) fixed; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(grey, black) fixed; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(grey, black) fixed; /* For Firefox 3.6 to 15 */
    background: linear-gradient(grey, black) fixed; /* Standard syntax */
}
/*
define default p tag
*/
.p{
    font-family: "Sans-serif";
    font-size: 20px;
    margin-left:auto;
    margin-right:auto;
    word-wrap: break-word;
}
/*
define a error p tag
*/
.errorp{
    color: red;
    font-family: "Sans-serif";
    font-size: 20px;
    margin-left:auto;
    margin-right:auto;
    word-wrap: break-word;
}
/*
define a default div, used for making blocks in the website
*/
.defaultdiv{
    margin-left:auto;
    margin-right:auto;
    padding: 50px;
}
/*
define headers, text layout
*/
.title1{
    font-family: Sans-serif;
    font-size: 80px;
    color: #13737D;
}
.title2{
    font-family: "Sans-serif";
    font-size: 50px;
    color: #000000;

}

.title3{
    font-family: "Sans-serif";
    font-size: 30px;
    color: #000000;

}
/*
define standard page image
*/
.page-img{
    width: 50%;
    height: 50%;
}
/*
define underlined for making things underlined
*/
.u{
        text-decoration: underline;
    }

.b{
        font-weight: bold;
    }
/*
define input paragraph
*/
.inp{
    font-family: "Sans-serif";
    font-size: 15px;
    margin-left:auto;
    margin-right:auto;
    }
/*
styling for a google pie chart
*/
.google_pie {
    min-width: 900px;
    width: auto;
    min-height: 500px;
    height: auto;
    float: left;
}
/*
use this class to properly display images on a plain page
*/
.page-img{
    width: 100%;
    height: 50%;
    float: left;
}
/*
use this class to properly display images on the main div
*/
.img-wrapper {
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
}
/*
define a pdf viewer style
*/
.pdf {
    position: absolute;
    height: 100%;
    width: 100%;
}
/*
define a wrapper for hamburger menu image
*/
.ham_img{
    width: 20px;
    height:20px;
}
/*
stuff for navigation menu
*/
#nav{
    background-color: #222;
    width: 100%;
}

#nav_wrapper{
    width: 960px;
    margin: 0 auto;
    text-align: left;
    float: left;
}

#nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}

#nav ul li{
    display: inline-block;
}

#nav ul li:hover{
    background-color: #333;
}

#nav ul li img{
    vertical-align: middle;
    padding-left: 10px;
}

#nav ul li a{
    font-size: 30px;
}

#nav ul li a,visited{
    color: #ccc;
    display: block;
    padding: 15px;
    text-decoration: none;
}

#nav ul li a:hover{
    color: #ccc;
    text-decoration: none;
}

#nav ul li:hover ul{
    display: block;
}

#nav ul ul{
    display: none;
    position: absolute;
    background-color: #333;
    border: 5px solid #222;
    border-top: 0;
    margin-left: -5px;
    min-width: 200px;
}

#nav ul ul li{
    display: block;

}

#nav ul ul li a,visited{
    color: #ccc;
}

#nav ul ul li a:hover{
    color: #1368DB;
    background: #222;
}
/*
define a clear tag
*/
#clear{
    clear: both;
}
/*
stuff for navigation menu
*/

/*
define main, this is the main webpage div with all the content of the page in it
*/
#main {
    width: 70%;
    min-height: 300px;
    background-color: #E1E1E1;
}
/*
child of main, mostly used for text
*/
#mainchild {
    background-color: white;
    overflow: auto;
}
/*
edited mainchild, used for loading page in tools
*/
#mainchild_load {
    background-color: white;
    height: 50px;
}

#umb_hernia {
    width: 300px;
    height: 300px;
}
